---
layout: layouts/base.njk
permalink: /contact/
title: Contact
---
{% set p = pages | pageBySlug("contact") %}

<h1>{{ p.title }}</h1>
{% if p.subtitle %}<p class="subtitle">{{ p.subtitle }}</p>{% endif %}

<div class="prose">
	{{ p.body | renderBody | safe }}
</div>
