---
layout: layouts/base.njk
permalink: /privacy/
title: Privacy
---
{% set p = pages | pageBySlug("privacy") %}

<h1>{{ p.title }}</h1>
{% if p.subtitle %}<p class="subtitle">{{ p.subtitle }}</p>{% endif %}

<div class="prose">
	{{ p.body | renderBody | safe }}
</div>
